<nav>
    <div id="logo">Pet<span style="color: #4E31AA;">Care</span></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="admin">Admin</a></li>
    </ul>
    <button class="regis">Register</button>
</nav>